* {
    margin: 0;
    padding: 0;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 80px;
    border-radius: 0 0 8px 8px;
    border-bottom: 2px solid;
    background: linear-gradient(to top, #2F4F4F 15%, transparent 92%);
}

.nav-menu:after {
    content: '';
    clear: both;
    display: table;
}

.nav-menu ul {
    float: left;
    list-style: none;
    position: relative;
}

.nav-menu ul li {
    display: inline-block;
    border-radius: 8px;
    margin: 0 5px;
    border-radius: 8px;
    background: #F8F8ff;
}

.nav-menu ul li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 38px;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 15px;
    border-top: 3px solid #F8F8ff;
    border-left: 3px solid #F8F8ff;
    border-right: 3px solid #F8F8ff;
    border-bottom: 3px solid #00FF00;
    border-radius: 8px;
    color: black;
}

.nav-menu ul li a:hover {
    border: 3px solid #00FF00;
    border-radius: 8px;
}

.nav-menu ul ul {
    position: absolute;
    top: 65px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.nav-menu ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.nav-menu ul ul li {
    position: relative;
    margin: 0px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    float: none;
    display: list-item;
    border-radius: 8px;
}

.nav-menu ul ul li a {
    line-height: 30px;
}

