.app-body {
    margin-left: 235px;
    margin-right: 235px;
}

.system-msg{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid blue;
}
.app-conteiner {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 3px solid red;
}

.side-categories {
    background-color: #F8F8ff;
    width: 245px;
    height: 300px;
    border-radius: 6px;
}

.sc-header {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 6px 6px 0px 0px;
    
}
.sc-icon {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.sc-title {
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    font-family:  'Roboto', sans-serif;
}

.sc-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    margin: 8px 0px 8px 0px;
    border: 3px solid blue;
}

.app-hots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 335px;
    margin-left: 15px;
    background-color: #DCDCDC;
    border-radius: 6px;
}

.main-section {
    margin-top: 25px;
    border-radius: 5px;
    background-color: #DCDCDC;
    border-radius: 6px;
}

.sections {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 15px;
}



