@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,600;1,500;1,700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Helvetica Neue, Helvetica, Lucida Grande, Arial, 'Roboto', sans-serif, 'Roboto Mono', monospace;
  background-color: #DCDCDC;
}

.app-window {
  height: 100vh;
}

.app-body {
  margin-left: 215px;
  margin-right: 215px;
}

.system-msg{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid blue;
}

.app-conteiner {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  margin-top: 55px;
  margin-bottom: 55px;
  height: 500px;
  background: linear-gradient(to top, #FF6347 14%, transparent 98%);
  border-radius: 0 0 8px 8px;
  background-color: #DCDCDC;
  border-bottom: 3px solid #FF0000;
}

.title-hots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  width: 550px;
  height: 50px;
  padding-bottom: 6px;
  border-top: 3px solid #FF6347;
  border-right: 3px solid #FF6347;
  border-left: 3px solid #FF6347;
  border-radius: 15px 15px 0px 0px;
  background-color: transparent;
}
.title-hots h1 {
  font-size: 25px;
  font-family: Arial;
  font-weight: 700;
}

.products-hots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1150px;
  height: 375px;
  margin-top: 45px;
  border-radius: 6px;
}

.main-section {
  margin-top: 25px;
  border-radius: 5px;
  background-color: #DCDCDC;
  border-radius: 6px;
}

.sections {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 15px;
}
