@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,600;1,500;1,700&family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Helvetica Neue, Helvetica, Lucida Grande, Arial, 'Roboto', sans-serif, 'Roboto Mono', monospace;
  background-color: #DCDCDC;
}

.app-window {
  height: 100vh;
}

.app-body {
  margin-left: 235px;
  margin-right: 235px;
}

.system-msg:hidden{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid blue;
}

.app-conteiner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  height: 500px;
  background: linear-gradient(to top, #FF6347 13%, transparent 80%);
  border-radius: 0 0 8px 8px;
  background-color: #DCDCDC;
  border-bottom: 3px solid #3CB371;
}

.products-hots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1020px;
  height: 375px;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 50px;
  border-radius: 6px;
}
.title-hots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  width: 500px;
  height: 50px;
  padding-bottom: 6px;
  border-bottom: 5px solid #3CB371;
  border-right: 5px solid #3CB371;
  border-left: 5px solid #3CB371;
  border-radius: 0 0 15px 15px;
  background-color: #F8F8ff;
}
.title-hots h1 {
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}


.main-section {
  margin-top: 25px;
  border-radius: 5px;
  background-color: #DCDCDC;
  border-radius: 6px;
}

.sections {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 15px;
}
