.app-body {
    margin-left: 235px;
    margin-right: 235px;
}

.system-msg{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid blue;
}
.app-conteiner {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid yellow;
}

.side-categories {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 260px;
    border-radius: 12px;
    border-right: 1px solid red;
}

.sc {
    height: 50px;
    border: 1px solid blue;
}

.app-hots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 15px;
    border: 1px solid red;
    border-radius: 12px;
}

.main-section {
    margin-top: 25px;
    border-radius: 5px;
    border: 1px solid blue;
}

.sections {
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid red;
}

.content {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
}
